html {
    font-size: 1em;
    
}

body {
    margin: auto;
    background-image: url(Design/page_bg.png);
    background-repeat: no-repeat;
    background-position: right  top -60%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Nav Bar */

.menu-small img {
    display: none;
}

.navbar {
    background-color: #389AAF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;  
}

.navbar .logo {
    display: block;
    width: 18rem;
    height: auto; 
    padding-right: 20%;
    padding-left: 10%;
}


.icons-right {
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    margin-right: 0.5rem;
}

/*.icons-right img {
    max-width: 60%;
    height: auto;
}
*/

#profile img, 
#favorites img,
#search img,
#cart img {
    max-width: 70%;
}

.navbar a {
    text-decoration: none;   
    color: white;
}

.navbar li {
    list-style-type: none;  
}

.navbar ul {
    margin: 0;
    display: flex;
    gap: 2rem;
    padding: 0;
}

.menu-left {
    justify-self: start;
    margin-left: 2rem;
}

/* Header */


header {
    position: relative;
}

header img {
    width: 100%;
}

#title-big {
    font-size: 4rem;
    color: #366C8B;
    font-weight: normal;
    position: absolute;
    top: 20%;
    left: 60%;
}

#button-big {
    color: white;
    background-color: #389AAF;
    position: absolute;
    bottom: 45%;
    left: 70%;
    padding: 0 3em;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#button-big:hover {
    background-color: #226175;
}

#button-big:active {
    background-color: #389AAF;
}

.header-title-small {
    display: none;
}

/* Quote */

.quote {
    text-align: center;   
    max-width: 100%;
    min-height: 7rem;
    background-image: url(Design/quote_bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}



/* Plant of the Month*/

.plantotm-titles p {
    margin: 0;
    padding: 0.5rem;
    font-size: 4rem;
    color: white;
    
}

#plantotm-title {
    background-color: #389AAF;
    
}

#plant-name {
    background-color: #226175;
}

.plantotm-titles {
    display: flex;
    min-height: 23rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-left: 10rem;
}

.plantotm-container {
    max-width: 100%;
    min-height: 27rem;
    padding-top: 2%;
    background-image: url("Design/banner_2.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/*
.bg-plantotm img {
    max-width: 100%;
    position: absolute;
}

.bg-plantotm {
    position: relative;
}

#plantotm-title {
    position: absolute;
    left: 8vw;
    top: 15vh;
    font-size: 2.5vw;
    color: white;
    background-color: #389AAF;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: normal;
}

#plant-name {
    position: absolute;
    left: 8vw;
    top: 25vh;
    font-size: 2.5vw;
    color: white;
    background-color: #226175;
    padding: 1rem 15rem 1rem 3rem;
    font-weight: normal;
}

*/

/* Featured Items */

#featured-title {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 6rem;
    font-size: 3rem;
    color: #226175;
    font-weight: normal;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.featured-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.featured-button {
    color: white;
    background-color: #389AAF;
    bottom: 45%;
    left: 70%;
    padding: 1rem 5rem 1rem 5rem;
    border: none;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 10rem;
    cursor: pointer;
}

.featured-button:hover {
    background-color: #226175;
}

.featured-button:active {
    background-color: #389AAF; 
}

.items-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
    max-width: 61rem;
    gap: 1rem;
    justify-items: center;
}

.item img {
    max-width: 100%;
    display: block;
}

.item p {
    text-align: center;
}

.item p:first-of-type {
    font-weight: bold;
}

/* Reviews */

.reviews {
    text-align: center;
    max-width: 100%;
    background-color: #E8F4F8;
    padding: 4rem;
    font-size: 1.5rem;
}


/* Media queries */

@media screen and (max-width: 1600px) {

    #title-big, 
    #button-big {
        display: none;
    }

    header img {
        display: none;
    }

    .header-title-small button{
        color: white;
        background-color: #389AAF;
        padding: 0 3em;
        border: none;
        font-size: 1.5em;
    }
    
    .header-title-small h1 {
        font-size: 4rem;
        color: #366C8B;
        font-weight: normal;
    }


    .header-title-small {
        display: block;
        text-align: right;
        background-image: url("Design/header-img.png");
        background-repeat: no-repeat;
        background-position: 10% 20%;
        padding: 3rem;
    }

    .header-title-small h1 {
        margin-right: 6rem;
        margin-top: 0;
        margin-bottom: 1rem;
    } 

    .header-title-small button {
        margin-right: 6rem;
    }
   
    .menu-left {
        display: none;
    }

    .menu-small img {
        display: block;
        margin-left: 30%;
    }

    .navbar .logo {
        padding-left: 35rem;
        /*max-width: 16rem;*/
    }

    

    /*header img {
      height: 30rem;
      object-fit: cover;
    }
    */
}

@media screen and (max-width: 1400px) {

    .navbar .logo  {
        padding-right: 0;
        padding-left: 5rem;
    }

    #profile {
        display: none;
    }

    #burger {
        order: 1;
    }

    .logo {
        order: 3;
    }
    
    #search {
        order: 2;
    }

    #favorites {
        order: 4;
    }

    #cart {
        order: 5;
    }

}



@media screen and (max-width: 600px) {

    .navbar .logo  {
        width: 14rem;
        padding-right: 0;
        padding-left: 0;
    }

    
}